<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="미호 봇 공식 사이트" />
    <meta name="google" content="notranslate" />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./apple-icon-180x180.png"
    />
    <link href="./favicon.ico" rel="icon" />

    <link href="" rel="stylesheet" />

    <title>미호</title>

    <link href="./main.css" rel="stylesheet" />
    <link href="./table.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Add your content of header -->
    <header>
      <nav class="navbar navbar-default active">
        <%- include('partials/header.ejs') %>
      </nav>
    </header>

    <div class="section-container">
      <div class="container">
        <div class="row section-container-spacer">
          <table>
            <thead>
              <tr class="table100-head">
                <th class="column1">학습 단어</th>
                <th class="column2">학습 내용</th>
              </tr>
            </thead>
            <tbody class="table">
              <% posts.forEach(function(post) { %>
              <tr>
                <td class="column1"><%= post.title %></td>
                <td class="column2"><%= post.description %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <footer class="footer-container white-text-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h3>Miho</h3>

            <div class="row">
              <div class="col-xs-12 col-sm-7">
                <p>
                  <small
                    >Website created WhiteKJ<br />
                    Template by
                    <a
                      href="http://www.mashup-template.com/"
                      title="Create website with free html template"
                      >Mashup Template</a
                    >/<a
                      href="https://www.unsplash.com/"
                      title="Beautiful Free Images"
                      >Unsplash</a
                    ></small
                  >
                </p>
              </div>
              <div class="col-xs-12 col-sm-5">
                <p class="text-right">
                  <a
                    href="https://facebook.com/"
                    class="social-round-icon white-round-icon fa-icon"
                    title=""
                  >
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a
                    href="https://twitter.com/"
                    class="social-round-icon white-round-icon fa-icon"
                    title=""
                  >
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a
                    href="https://www.linkedin.com/"
                    class="social-round-icon white-round-icon fa-icon"
                    title=""
                  >
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        navActivePage()
        scrollRevelation(".reveal")
      })
    </script>
    <script type="text/javascript" src="./main.js"></script>
  </body>
</html>
